node_modules
*.js
!demo/app/*.js
!demo.server/*.js
*.map
*.d.ts
!references.d.ts
!common.d.ts
!helpers.d.ts
!socket.d.ts
!typings/*
typings-*
out
demo/platforms
demo/node_modules
.DS_Store
*.log
lib
.tmp
