node_modules
*.js
demo/dev
demo/platforms
demo/node_modules
!demo/app/*.js
!demo.server/*.js
*.map
*.d.ts
!references.d.ts
!helpers.d.ts
!socketio.common.d.ts
!index.d.ts
!typings/*
typings-*
out
.DS_Store
*.log
lib
.tmp
*.tgz

